#page-header {
  height: 200px;
  background: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
